{% extends 'base/base.html' %}
{% load static %}
{% block title %}
{% for title in about %} Dashboard | {{title.name}} {% endfor %}
{% endblock title %}
{% block logo %}
{% for logo in about %}
<img src="{{logo.logo.url}}" alt="">
{% endfor %}
{% endblock logo %}
{% block profile %}
{% for profile in about %}
<img src="{{profile.photo.url}}" alt="profile">
{% endfor %}
{% endblock profile %}
{% block dropdown_nav %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Created
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="create-post">Create Post</a></li>
    </ul>
</li>
{% endblock dropdown_nav %}
{% block body %}
<div class="container">
    <div class="container dashboard_container_ mb-5">
        <div class="about_add_section">
            <h4> Add Your Information : </h4>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for fm in form %}
                {{fm.label}} {{fm}}<br> {{fm.error|striptags}}
                {% endfor %}
                <button class="btn btn-primary mt-3">Add</button>
            </form>
            <div class="goto_link mt-3">
                <a class="btn btn-sm btn-secondary btn_sm " href="/dashboard/">Go to profile</a>
                <a class="btn btn-sm btn-danger btn_sm " href="/dashboard/change-password">Change Password</a>
            </div>
        </div>
    </div>
    {% endblock body %}